/*body{
    background: url(../imgs/coffee.jpg);
    background-size: cover;
    background-position: 0%;
}*/
.container-fluid{
    padding: 0;
    padding-top: 150px;
}
.section-title{
    font-weight: bold;
    font-size: 30px;
    color: #000000;    
    text-align: center;
}
td, h5, h6{
    color: #000000; 
    font-weight: bolder;
}
.Total{
    text-align: center;
}
.boton{
    background: black;
    color: white;
    border-radius:10px;
}
.form-control{    
    color:black;
    padding: 0;
}
